<!DOCTYPE html>
<html lang="es">
<head> 	
 	<title>Quienes somos</title>
 	<link rel="stylesheet" type="text/css" href="../../Public/CSS/style.css">
 	<h1 class="title">Quienes somos</h1>
 	<h2 class="container"> MOTEROS </h2>
	<center>
	<h3 class="container"> 
	<center>
		MÁS que un lavado
	</center>
	</h3>
 	<img src="../../Public/images/motolavar.jpg";>
	</center>
</head>
<body>
	<body style="background-attachment: fixed;background-color:#fff; background-image: url(../../Public/images/burbujas.jpg);">
	<div class="caja">
<h2>
	<P>
	Somos una propuesta innovadora que surge en 2018 para brindar a los motociclistas de la capital un servicio satisfactorio, teniendo en cuenta los siguientes factores:
	</P>
</h2>
<h3>
	<p>
	• Conocemos la importancia del cuidado de su motocicleta, considerando el cuidado al motor, kit de arrastre y partes mecanicas.
	</P>
</h3>
	<h3><p>
	• Brindamos satisfaccion en el servicio de lavado, dependiendo de su necesidad y presupuesto.
	</P></h3>
	<h3><p>
	• Nuestros procesos cuentan con una alta idoneidad y estan dirigidos al cuidado del medio ambiente.
	</P></h3>
	<h3><p>
</body>
</html>