<!DOCTYPE html>
<html lang="es">
	<head>
	<title>Reserve aqui</title>
	<link rel="stylesheet" type="text/css" href="../../Public/CSS/style.css">
</head>
	<body>
	<h1 class="title">Reserva</h1>
	<center>
 	<p>
 		Reserve el dia y hora en el que desee su servicio, de esta manera le damos prioridad a su tiempo y nos acomodamos a su disponibilidad.
 	</p>
 	</center>
	<div class="caja1">
	<div class="container">
		<p>
		<h3>
		<input type="radio" name="servicio" value="cliente" checked>Cliente
		<input type="radio" name="servicio" value="particular">Particular
		</h3>
		</p>
		<form>
			
				<div class="label">
					<p>
					<label>Mes</label>
					<select name="motivo">
						<option>Enero</option>
						<option>Febrero</option>
						<option>Marzo</option>
						<option>Abril</option>
						<option>Mayo</option>
						<option>Junio</option>
						<option>Julio</option>
						<option>Agosto</option>
						<option>Septiembre</option>
						<option>Octubre</option>
						<option>Noviembre</option>
						<option>Diciembre</option>
						<option selected="selected">--Seleccionar--
						</option>
						</select>

						<label>Día</label>
					<select name="motivo">
						<option>01</option>
						<option>02</option>
						<option>03</option>
						<option>04</option>
						<option>05</option>
						<option>06</option>
						<option>07</option>
						<option>08</option>
						<option>09</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
						<option selected="selected">--Seleccionar--
						</option>
						</select>
					</p>
						
					</div>
				
					<h3>
						<label>Nombre:</label>
					<textarea name="comentario"
						cols="85" rows="1">
					</textarea>
					</h3>

				<input type="text" name="nombre"/>
			
				<p>
				<div class="label">

					<h3><label>Email:</label></h3>
				</div>
					<input type="text" name="email"/>
				</p>
				<p>
					<h3><label>Servicio de lavado</label></h3>
				</p>
				<p>
					<select name="Servicio">
						<option>Sencillo</option>
						<option>Brillado</option>
						<option>Restauracion</option>
						<option>Rest + Brillo especial</option>
						<option selected="selected">--Seleccionar--</option>
						</select>
				</p>
				<p>
					<textarea name="comentario"
						cols="98" rows="6">
					</textarea>
				</p>
				<p>
					<input type="submit" value="Enviar mensaje"/>
					<input type="reset" value="Limpiar datos"/>
				</p>
			</form>
		</div>
	</div>
</body>
</html>