<!DOCTYPE html>
<html lang="es">
<head>
 	
 	<title>Vision ambiental MOTEROS</title>
 	
 	<link rel="stylesheet" type="text/css" href="../../Public/CSS/style.css">
 	
 	<h1 class="title">Vision ambiental</h1>
 	
 	<h2 class="container"> MÁS que un lavado </h2>
	
	<center>
 	<img src="../../Public/images/recicleagua.jpg";>
	</center>

</head>
<body>
	<body style="background-attachment: fixed;background-color:#000; background-image: url(../../Public/images/burbujas.jpg);">
	
	<div class="caja">

	<h2><P>
	MOTEROS contempla formas de contribuir a la conservacion del medio ambiente.
	</P></h2>

	<h3><p>
	Pensando en la conservacion de los recursos naturales y su aprovechamiento, MOTEROS realiza sus procesos de lavado por medio del aprovechamiento de aguas lluvias y el enjuage de lavadoras domesticas, de este modo se da un aprovechamiento del recurso hidrico, optimizando asi la labor de lavado y no perjudicando el medio ambiente.
	</P></h3>
</body>
</html>